<!--/*
============================================
; Title:  Program Header
; Author: Professor Krasso 
; Date:   11 December 2017
; Modified By: Leon Maxwell
; Modified date: 09 September 2018
; Description: EMS Index file to render main page
;===========================================
*/
-->

<!-- This is the landing page -->
<!-- Include the header, navbar, footer, and scripts ejs files -->

<% include header %>
<% include navbar %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-2">Welcome to INITECH!</h1>
        <p>Would you like to come work for us?</p>
        <p><a class="btn btn-primary btn-lg" href="/list.ejs" role="button">View Current Employees &raquo;</a></p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Employees</h2>
            <p>View details here.</p>
            <p><a class="btn btn-secondary" href="views.ejs" role="button">See Current Employees &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Add Employee</h2>
            <p>View other details here.</p>
            <p><a class="btn btn-secondary" href="new.ejs" role="button">Add an Employee &raquo;</a></p>
        </div>

    </div>

</div>

<% include footer %>
<% include scripts %>