<!--/*
============================================
; Title:  Program Header
; Author: Professor Krasso 
; Date:   11 December 2017
; Modified By: Leon Maxwell
; Modified date: 16 September 2018
; Description: EMS ejs list page
;===========================================
*/
-->

<!-- This will have a tabular view of the employees table -->

<!DOCTYPE html>
<html lang="en">

<% include header %>

<body>

    <% include navbar %>

    <div role="main" class="container" style="width: 50%;">
        <br /><br />

        <% if (employees.length) { %>
        <h2>-- Employee Listing --</h2><br />
        <a href="/new">Add New</a>
        <br /><br />
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <% employees.forEach(function (employee) { %>
                <tr>
                    <td>
                        <%= employee.name %>
                    </td>
                    <td><a href="/view/<%= employee.name %>"></a>view</td>
                </tr>
            </tbody>
            <% }) %>
        </table>
        <% } else { %>
        No entries! <a href="new">Add a new employee</a>
        <% } %>

        <br />
    </div>
    <% include footer %>
</body>
<% include scripts %>