<!--/*
============================================
; Title:  Program Header
; Author: Professor Krasso 
; Date:   11 December 2017
; Modified By: Leon Maxwell
; Modified date: 16 September 2018
; Description: EMS ejs list page
;===========================================
*/
-->

<!-- This will have a tabular view of the employees table -->

<% include header %>
<% include navbar %>

<div role="main" class="container" style="width: 50%;">
    <br /><br />

    <% if (employees.length) { %>
    <h2>List of Current Employees:</h2>

    <br /><br />
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>View Employee</th>
            </tr>
        </thead>
        <tbody>
            <% employees.forEach(function (employee) { %>
            <tr>
                <td>
                    <%= employee.name %>
                </td>
                <td><a href="/view/<%= employee.name %>"></a>Click to view</td>
            </tr>
        </tbody>
        <% }) %>
    </table>
    <br />

    <a class="btn btn-secondary float-right" href="new" role="button">Add New</a>

    <% } else { %>
    No entries! <a class="btn btn-secondary" href="new" role="button">Add a New Employee &raquo;</a>
    <% } %>

    <br /><br />
</div>

<% include footer %>
<% include scripts %>