<!--/*
============================================
; Title:  Program Header
; Author: Professor Krasso 
; Date:   11 December 2017
; Modified By: Leon Maxwell
; Modified date: 28 September 2018
; Description: EMS ejs navigation page
;===========================================
*/
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="new">Add an Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="list">View list of employees</a>
        </li>
    </ul>
</nav>