<!-- This is a read-only page with selected employee details -->

<% include header %>
<% include navbar %>

<div role="main" class="container" style="width: 50%;">
    <br /><br />

    <h2>-- Employee Record --</h2>
    <div>
        <div class="form-group">
            <label for="txtName">Name:</label>
            <input type="text" class="form-control" id="txtName" readonly value="<%= employee[0].name %>" name="txtName" />

        </div>

        <br /><br />

        <a class="btn btn-secondary" href="list" role="button">Return to Employees</a>

    </div>

    <% include footer %>
    <% include scripts %>