<!--
    /*
============================================
; Title:  Program Header
; Author: Professor Krasso 
; Date:   9 December 2017
; Modified By: <Leon Maxwell>
; Modified date: 16 August 2018
; Description: putting it all together
;===========================================
*/
-->

<% include header %>

<div role="main" class="container">
    <br/><br/>

    <h2>Welcome to the <%= message %>!</h2>

</div>

<% include footer %>